/*  src/Title.css  */
.Title {
  box-sizing: border-box;
  width: 100%;
  display: flexbox;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgba(0, 0, 0, 0.329);
  color: #fff;
}
.Title h1 {
  color: aquamarine;
}

.Title h1::before {
  content: 'SAN FRANCISCO Privately Owned Public Open Spaces';
  
}
.Title h1::after {
  content: 'SFPOPS';
}

.Title-Subtitle {
  color: #79e854;
}

.Title a {
  display: inline-block;
  padding: 0.5em 1em;
  color: rgba(187, 187, 187, 0.835);
  font-weight: italic;
  text-decoration: none;
}

.Title .nav-link-active {
  color: #fff;
  border-bottom: 2px solid;
} 

.Header-container {
  display: flex;
	flex-direction: row;
  text-align: center;
	margin: auto;
}
